<% include header %>
      <div class="rand">
      <div class="contactstijl">
      <p>More about us</p>
      <p>Email. TheCallBoys@AP.Be</p>
      <p>Tel. 04 82 27 27 52</p>
      <p>Adress. Antwerp</p>
      </div>
      </div>
<% include footer %>
