/*©CMP5 2019-2020*/
/*Algmeen*/
body {
  background: white;
  color: white;
  font-family: helvetica;
  font-size: 62,5%;
  box-sizing: border-box;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

::selection {
  background: blue;
  color:white;
}


/*Header*/
.head h1 {
margin: 2rem 1rem 3rem 1rem;
padding: 2rem;
color: black;
font-size: 4rem;
display: inline-block;
border-bottom: 1rem solid #0064B4;
}


.intro {
  font-size: 2rem;
  line-height: 4rem;
  padding: 0.5rem;
  font-weight: 200;
  background-color: white;
  color: black;
}

.project p {
  color: black;
  text-transform: uppercase;
}


.more  p {
color: black;
font-size: 2rem;
font-weight: lighter;
}

/*Navigatie*/
nav {
display: flex;
justify-content: space-between;
flex-direction: row;
padding: 2rem;
background-color: white;
}


nav a {
  text-align: center;
  font-weight: lighter;
  text-decoration: none;
  color: #0064B4;
  transition: 0.7s;
  background-color: white;
  padding: 1rem;
  margin-bottom: 2rem;

}

nav a:hover {
  background-color: #0064B4;
  transition: 0.7s;
  padding: 0.8rem;
  color: white;
}


/*Paragraaf*/
.paragraaf1 h1{
padding: 2rem;
margin: 2rem 2rem 0 2rem;
line-height: 2.4rem;
font-weight: 200;
background-color:  #0064B4;
border-bottom: 2rem solid white;

}

.paragraaf1 p{
padding: 1rem;
margin: 3rem 2rem 4rem 2rem;
line-height: 2rem;
font-weight: 300;
font-style: italic;
color: black
}


/*Contact*/
.contactstijl {
padding: 1rem;
margin: 3rem 2rem 4rem 2rem;
line-height: 2rem;
font-weight: 300;
background-color: white;
border: 0.5rem solid #0064B4;
color: black;
}



/*Footer*/
p, footer {
padding: 3rem;
}

footer {
background-color: #CF0039;
text-align: center;

}


input{
margin: 0.8rem 0;

}


@supports (display:grid) {

@media (min-width: 60rem) {
}


@media (min-width: 80rem) {
}



}
